.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.details-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.details-link:hover {
  text-decoration: underline;
}


.table th, .table td {
  padding: 15px; /* Augmente l'espace intérieur des cellules */
  font-size: 16px; /* Augmente la taille du texte */
}

.table tbody tr {
  height: 50px; /* Définit une hauteur minimale pour chaque ligne */
}
