/* Application de la police */
body {
	font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	color: #333; /* Couleur de texte par défaut */
	background-color: #f5f5f5; /* Couleur de fond */
	font-size:145%;
  }
  
  .user-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
  }
  .badge-status {
	padding: 5px 10px;
	border-radius: 20px;
	font-size: 0.8em;
  }
  .badge-active {
	background-color: #d4edda;
	color: #155724;
  }
  .badge-inactive {
	background-color: #f8d7da;
	color: #721c24;
  }
  .card-counter {
	transition: transform 0.3s;
  }
  .card-counter:hover {
	transform: translateY(-5px);
  }
  
  
  .user-icon {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
  }
  



  .floating-button {
	position: fixed; /* Pour le positionner par rapport à la fenêtre */
	bottom: 20px; /* Ajustez la position verticale */
	right: 20px; /* Ajustez la position horizontale */
	background-color: #9C6FB0; /* Couleur de fond bleue */
	color: white; /* Couleur du texte blanche */
	border: none;
	border-radius: 50%; /* Pour le rendre rond */
	width: 80px; /* Ajustez la taille */
	height: 80px; /* Ajustez la taille */
	font-size: 24px; /* Ajustez la taille du texte */
	line-height: 60px; /* Pour centrer verticalement le texte */
	text-align: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Ombre légère */
	cursor: pointer;
}
  
  .floating-button:hover {
	background-color: #0056b3; /* Couleur de fond plus foncée au survol */
  }
