

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-toolbar class="sidenav-toolbar">
      <a href="/admin">
        <span style=" font-size: 25px;">FuturAllies</span>
      </a>
    </mat-toolbar>
    <app-menu />
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar color="primary" class="main-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav" matTooltip="Ouvrir le menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title" style=" font-size: 25px;">Administration</span>
      <!-- <app-breadcrumbs /> -->
      <div class="spacer"></div>
      <!-- User Section -->
      <div class="user-profile">

        <ul class="nav">
          <li class='nav-item' *ngIf="userInfo?.email; else loginTemplate">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle" style="background-color:white; font-size: 25px; border-radius: 50%; padding: 2px;"></i>
            </a>
            
              <ul class="dropdown-menu">
                <li><span class="dropdown-item" style=" font-size: 25px;">{{ userInfo?.firstName }} {{ userInfo?.lastName }}</span></li>
                <li><span class="dropdown-item" style=" font-size: 25px;">{{ userInfo?.email }}</span></li>
                <li><span class="dropdown-item" style=" font-size: 25px;">{{ userInfo?.role }}</span></li>
                <li><button class="dropdown-item" (click)="onLogout()" style=" font-size: 25px;" > <i class="bi bi-power"></i><span  style='padding-left:5px'>Déconnexion</span></button></li>
              </ul>

            </li>
            
            <ng-template #loginTemplate>
              <li class='nav-item'>
                <a class="nav-link" class="btn btn-warning" href="/usersPages/login">Connexion</a> <!-- Remplacez par votre route de connexion -->
              </li>
            </ng-template>
              
      </ul>

      </div>
    </mat-toolbar>

    <!-- Content Section -->
    <div class="content">
      <router-outlet></router-outlet> <!-- Affiche les routes enfants ici -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
