
<!-- Titre -->
<div >
  <!-- Loading State (Optional, if you have a loading indicator) -->
  <div *ngIf="loading" class="loading-message d-flex flex-column align-items-center justify-content-center">
    <span class="text-muted fs-5">Chargement...</span>
  </div>

  <!-- No Data Message -->
  <div *ngIf="userInfo?.role !='admin' && !loading" class="no-data-message d-flex flex-column align-items-center justify-content-center">
    <img src="assets/no-data.png" alt="Aucune donnée disponible" class="no-data-img mb-3">
    <span class="mt-2 text-muted fs-5">Aucune donnée disponible</span>
  </div>

  <!-- Content (Table and Pagination) -->
  <div *ngIf="userInfo?.role == 'admin'" class="content"> 



<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-toolbar class="sidenav-toolbar">
      <a href="/admin">
        <span>FuturAllies</span>
      </a>
    </mat-toolbar>
    <app-menu />
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar color="primary" class="main-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav" matTooltip="Ouvrir le menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">Administration</span>
      <!-- <app-breadcrumbs /> -->
      <div class="spacer"></div>
      <!-- User Section -->
      <div class="user-profile">
        <!--
        <button mat-icon-button matBadge="{{user.notifications}}" matBadgeColor="warn" aria-label="Notifications" class="badge-button notifications-badge" matTooltip="Notifications">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button matBadge="{{user.messages}}" matBadgeColor="accent" aria-label="Messages" class="badge-button messages-badge" matTooltip="Messages">
          <mat-icon>message</mat-icon>
        </button>
        
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item matTooltip="Voir mon profil">
            <mat-icon>account_circle</mat-icon>
            <span>Mon profil</span>
          </button>
          <button mat-menu-item matTooltip="Se déconnecter" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Déconnexion</span>
          </button>
        </mat-menu>
-->




        <ul class="nav">
          <li class='nav-item' *ngIf="userInfo?.email; else loginTemplate">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img  src='assets/profil.png' style='background-color:yellow' height="25" />
              </a>
              <ul class="dropdown-menu">
                <li><span class="dropdown-item">{{ userInfo?.firstName }} {{ userInfo?.lastName }}</span></li>
                <li><span class="dropdown-item">{{ userInfo?.email }}</span></li>
                <li><span class="dropdown-item">{{ userInfo?.role }}</span></li>
                <li><button class="dropdown-item" (click)="onLogout()" > <i class="bi bi-power"></i><span  style='padding-left:5px'>Déconnexion</span></button></li>
              </ul>

            </li>
            
            <ng-template #loginTemplate>
              <li class='nav-item'>
                <a class="nav-link" class="btn btn-warning" href="/usersPages/login">Connexion</a> <!-- Remplacez par votre route de connexion -->
              </li>
            </ng-template>
              
      </ul>

      </div>
    </mat-toolbar>

    <!-- Content Section -->
    <div class="content">
      <router-outlet></router-outlet> <!-- Affiche les routes enfants ici -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>