


<div *ngIf="entrepriseDetail.length === 0 && !loading" class="no-data-message d-flex flex-column align-items-center justify-content-center">
    <img src="assets/no-data.png" alt="Aucune donnée disponible" class="no-data-img mb-3">
    <span class="mt-2 text-muted fs-5">Aucune donnée disponible</span>
</div>  
<div *ngIf="entrepriseDetail" class="container-xl mt-4">
    
      <h3>Détails de l'entreprise</h3>
      <p>Nom: {{ entrepriseDetail.nom }} </p>
      <p>Email: {{ entrepriseDetail.email }}</p>
      <p>Rôle: {{ entrepriseDetail.role }}</p>
      <p>Telephone: {{ entrepriseDetail.phone_number }} </p>
    
    
</div>
  