
<app-headerPrincipale></app-headerPrincipale>
<body>


    <header class="hero-section">
        <div class="overlay">
          <div class="hero-content">
            <h2>Bienvenue sur la plateforme <strong>futur-Allies</strong></h2>
            <p>Formations, emploi, orientation : <span class="highlight">votre avenir commence ici.</span></p>
            <a href="#services" class="hero-btn">Découvrir nos services</a>
          </div>
        </div>
      </header>
      

<div>
    <app-acceuil-NosServices/>
</div>
 






<body>

    <app-footer></app-footer>


 