
<app-headerPrincipale></app-headerPrincipale>
<body>


    <header class="hero-section">
        <div class="overlay">
          <div class="hero-content">
            <h2>Bienvenue sur la plateforme <strong>futur-Allies</strong></h2>
            <p>Formations, emploi, orientation : <span class="highlight">votre avenir commence ici.</span></p>
            <a href="#services" class="hero-btn">Découvrir nos services</a>
          </div>
        </div>
      </header>
      

<div>
    <app-acceuil-NosServices/>
</div>
 

















    <!-- Domaines de formations -->


        <div class="container py-5 " style='display:inline-flex; text-align:center;'>

            <div class="row" style="width:1200px;">

                <div class="col-md-4" *ngFor='let domaine of domaines'>
                    <button class="container-l" *ngIf='domaine.id<=3'>                        
                        <p class="card-title">{{domaine.nom_domaine}}</p>       
                    </button>
                </div>
            </div> 


        
 </div>

<body>

    <app-footer></app-footer>


 