<app-headerPrincipale/>





<body>

    <!-- Titre -->
<div class="container-xl mt-4">


    <div class="container-fluid">
        <div class="header">
            <h1>Programme des jeunes talents</h1>
        </div>
        
    <!-- Loading State (Optional, if you have a loading indicator) -->
    <div *ngIf="loading" class="loading-message d-flex flex-column align-items-center justify-content-center">
      <span class="text-muted fs-5">Chargement...</span>
    </div>
  
    <!-- No Data Message -->
    <div *ngIf="formations.length === 0 && !loading" class="no-data-message d-flex flex-column align-items-center justify-content-center">
      <img src="assets/no-data.png" alt="Aucune donnée disponible" class="no-data-img mb-3">
      <span class="mt-2 text-muted fs-5">Aucun programme de formation disponible</span>
    </div>

    <div class="container mt-8" style='padding-left:40px;'  *ngFor="let formation of formations">
        <div>
        <div class="row ">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <img src="assets/f.webp" class="card-img-top" alt="Interview & Sélection MASTERCLASS" >
                    <div class="card-body">
                        <h5 class="card-title" style='font-size:120%'>{{ formation.titre }}</h5>
                        <span class="card-text">Duree: {{formation.duree}}</span><br/><span>Niveau: {{ formation.niveau}} </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content">
                    {{formation.description}}
                    <div class="voir-plus">
                        <a class="btn btn-outline-primary" (click)="onSelectFormationDetail(formation.id)">Voir plus &#9662;</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    </div>
</div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

<app-footer/>





